/.vscode
/background_img.jpg
/background_img2.png
/bird_poster.jpg
/Blue Tit.mp4
/border.jpg
/bul.png
/functionality.js
/mobile_netflix.html
/new.html
/old.html
/SoundHelix.mp3
/style.css
/test.html
/webimg.jpeg
/web_logo.png